<app-toolbar></app-toolbar>
<div class="container wrapper">
    <div class="row">
        <!-- Issue table -->
        <div class="col-md-12 text-center">
            <h3><b>Available Positions</b></h3>
            <div class="inner text-center mat-elevation-z8">
                <table mat-table [dataSource]="positions">
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let position"><a [routerLink]="['/show-employee/', position.id]"> {{position.id}} </a></td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Role">
                        <th mat-header-cell *matHeaderCellDef> Role </th>
                        <td mat-cell *matCellDef="let position"> {{position.role}} </td>
                    </ng-container>

                    <ng-container matColumnDef="YearsExperience">
                        <th mat-header-cell *matHeaderCellDef> Years of Experience </th>
                        <td mat-cell *matCellDef="let position"> {{position.yearsExperience}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Salary">
                        <th mat-header-cell *matHeaderCellDef> Salary </th>
                        <td mat-cell *matCellDef="let position"> {{position.salary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CompanyName">
                        <th mat-header-cell *matHeaderCellDef> Hiring Company </th>
                        <td mat-cell *matCellDef="let position"><a [routerLink]="['/show-company/', position.company.id]"> {{position.company.name}} </a></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<button mat-fab extended color="primary" class="fab-button">
    Add Position
    <mat-icon>add_circle</mat-icon>
</button>