<app-toolbar></app-toolbar>
<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12 text-center">
            <h3><b>Edit Company</b></h3>
            <form [formGroup]="updateCompanyForm" (ngSubmit)="submitForm()" novalidate style="display: flex; flex-direction: column;">
                <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <input matInput type="text" formControlName="company_name" maxlength="40" style="margin-top: 5px">
                    <p class="ErrorMessage">{{nameError}}</p>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Company Address</mat-label>
                    <input matInput type="text" formControlName="company_address" maxlength="80" style="margin-top: 5px">
                    <p class="ErrorMessage">{{addressError}}</p>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Company Zip Code</mat-label>
                    <input matInput type="text" formControlName="company_zip_code" maxlength="10" style="margin-top: 5px">
                    <p class="ErrorMessage">{{zipCodeError}}</p>
                </mat-form-field>

                <button mat-fab extended color="primary" style="width: 300px; align-self: center;">
                    Submit
                    <mat-icon>add_circle</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>