<div class="container wrapper">
    <div class="row">
        <button class="btn btn-success" style="width:5vw" [routerLink]="['/show-companies/']"><i class="bi bi-arrow-return-left"></i> Back</button>
        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner text-center">
                <h3>{{name}}</h3>
                <b>Id: </b>{{id}}
                <b>Address: </b>{{address}}
                <b>Zip Code: </b>{{zipCode}}
            </div>
        </div>
    </div>
</div>